@import '../../sass/partials/functions';
@import '../../sass/partials/mixins';
@import '../../sass/partials/variables';

.socialUl {
  list-style: none;
  margin: 0;
  padding: 0;
}

.socialLi {
  color: $text-color;
  display: inline;
  font-size: 2em;
  margin: 5;
  padding-right: 0.4em;
}

a visited {
  color: none;
}