@import '../../sass/partials/functions';
@import '../../sass/partials/mixins';
@import '../../sass/partials/variables';


.navContainer {
  display: flex;
  justify-content: flex-end;
  flex-flow: row wrap;
  margin-right: 4em;
}

.navContainer a {
  color: $text-color;
  font-family: $sub-font;
  font-weight: 300;
  font-size: 24px;
  margin-right: 0.4em;
  text-decoration: none;
  list-style-type: none;
  overflow: hidden;
  margin-top: 0.4em;

}



a:link, a:visited {
  text-decoration: none;
  color: $text-color;
}

a:hover {
  color: $subtext-color;
  text-decoration: underline;
}

